name: MGB
on:
  push:
    branches:
      - master
      
jobs: 
    testing:
      runs-on: ubuntu-latest
      
      steps:
      - name: Checkout Code
        uses: actions/checkout@v1
        
      - name: view
        run: ls -la
